<div class="container">
  <h1 class="text-center my-5">Movie List</h1>
  <div class="row pt-5">
    <div *ngFor="let movie of movies" class="col-md-4">
      <div class="card mb-4 h-75" [id]="'movie-' + movie.id">
        <img [src]="movie.coverImage" class="card-img-top im-fluid h-50" alt="{{ movie.title }}">
        <div class="card-body bg-warning">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">Director: {{ movie.director }}</p>
          <p class="card-text">Year: {{ movie.year }}</p>
          <p class="card-text">Genre: {{ movie.genre }}</p>
          <button *ngIf="!movie.isFavorite" (click)="addToFavorites(movie)" class="btn btn-outline-success">Mi Piace</button>
          <button *ngIf="movie.isFavorite" (click)="removeFromFavorites(movie)" class="btn btn-success">Rimuovi dai Preferiti</button>
        </div>
      </div>
    </div>
  </div>
</div>
