<div class="container">
  <div class="row">
    <h2 class="my-5">Post in evidenza</h2>
    <div class="col-12" *ngIf="postsArr.length > 0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{firstPost.title}}</h5>
          <p class="card-text">{{firstPost.body}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h2 class="h4 my-5">Potrebbero piacerti questi post</h2>
    <div class="col-12" *ngFor="let p of postsArr">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{p.title}}</h5>
          <p class="card-text">{{p.body}}</p>
        </div>
      </div>

    </div>

  </div>
</div>
