<div class="container">
  <h2 class="text-center my-5">Preferiti</h2>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let photo of preferiti">
      <div class="card">
        <img [src]="photo.thumbnailUrl" class="card-img-top" alt="Photo">
        <div class="card-body">
          <h5 class="card-title">{{ photo.title }}</h5>
          <p class="card-text">Album ID: {{ photo.albumId }}</p>
          <button class="btn btn-danger" (click)="rimuoviDaPreferiti(photo)">Elimina</button>
        </div>
      </div>
    </div>
  </div>
</div>
