<nav class="navbar navbar-expand-lg sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-danger fw-bold" routerLink="/">LET'S DO IT</a>
    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngClass]="{ 'collapse': !isNavbarCollapsed, 'navbar-collapse': true }">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/task-completati">Task Completati</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
